<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= projectsApi_detail.name %> | HACKADAY.IO</title>
    <style> <% include ../public/stylesheets/style.css %> </style>


</head>

<body class="body">

  <% let hackaday = "https://hackaday.io" %>
  <div class="header_detail">
    <% if (projectsApi_detail.image_url != null) { %>
      <img src="<%= projectsApi_detail.image_url %>" class="image_attr header_image">
    <% } %>
      <div class="centered">
        <div class="header_title_bold"><%= projectsApi_detail.name %></div>
        <br>
        <div class="header_summary"><%= projectsApi_detail.summary %></div><br>
        <br>
        <div class="href">
          <div><a href="<%= usersApi_detail.url %>" target="_self"><img class="detail_icon_circle" src="<%= usersApi_detail.image_url %>"/></a></div>
          <div><a class="a_screen_name" href="<%= usersApi_detail.url %>" target="_self"><%= usersApi_detail.screen_name %></a></div>
        </div>
      </div>
  </div>

    <div class="line">
      <div class="content_line">
        <div class="float_right">
          <div class="grid_line">
            <div><span><b><%= projectsApi_detail.views %></b></span><br><span class="small_text">views</span></div>
            <div><span><b><%= projectsApi_detail.comments %></b></span><br><span class="small_text">comments</span></div>
              <% if (projectsApi_detail.followers > 0) { %>
                <div><span><b><a class="text_line" href="<%= hackaday %>/hackers/all/project/<%= projectsApi_detail.id %>/following" target="_self"><%= projectsApi_detail.followers %></a></b></span><br><span class="small_text">followers</span></div>
              <% } else { %>
                <div><span><b><%= projectsApi_detail.followers %></b></span><br><span class="small_text">followers</span></div>
              <% } %>

              <% if (projectsApi_detail.skulls > 0) { %>
                <div><span><b><a class="text_line" href="<%= hackaday %>/hackers/all/project/<%= projectsApi_detail.id %>/likers" target="_self"><%= projectsApi_detail.skulls %></a></b></span><br><span class="small_text">likes</span></div>
              <% } else { %>
                <div><span><b><%= projectsApi_detail.skulls %></b></span><br><span class="small_text">likes</span></div>
              <% } %>
          </div>
        </div>
      </div>
    </div>

    <div class="content_detail">

        <div class="grid_detail_main">

            <div class="grid_detail_content">
                <div class="content_title">Description</div>
                <div class="category"></div>     

              <!-- catch -->
              <% if (projectsApi_detail.id == 169506) { %>
                <div class="content_desc"><%= projectsApi_detail.description %></div>

                <!-- tags -->
                <div class="margin_top">
                  <% for (var i = 0; i < (projectsApi_detail.tags).length; i++) { %>
                    <a class="tag_text" href="<%= hackaday %>/projects?tag=<%= projectsApi_detail.tags[i] %>" target="_self">
                      <button class="tag_button"><%= (projectsApi_detail.tags[i]).toUpperCase() %></button>
                    </a>
                  <% } %>
                </div>
                <!-- End tags -->

              <% } else { %>
                <div class="content_desc"><%- projectsApi_detail.description %></div>

                <!-- tags -->
                <div class="margin_top">
                  <% for (var i = 0; i < (projectsApi_detail.tags).length; i++) { %>
                      <a class="tag_text" href="<%= hackaday %>/projects?tag=<%= projectsApi_detail.tags[i] %>" target="_self">
                        <button class="tag_button"><%= (projectsApi_detail.tags[i]).toUpperCase() %></button>
                      </a>
                  <% } %>
                </div>
                <!-- End tags -->

              <% } %>
              <!-- Description a distinguishable function -->

              <% if ((projectsApi_id_details.details).length > 0) { %>
                <div class="content_title margin_top_70">Details</div>
                <div class="category"></div> 
                <% for (var d = 0; d < (projectsApi_id_details.details).length; d++) { %>
                  <div class="content_desc"><%- (projectsApi_id_details.details[d]).body %></div>
                <% } %>
              <% } %>

              <% if ((projectsApi_components.components).length > 0) { %>
                <div class="content_title margin_top_70">Components</div>
                <div class="category"></div> 
                <% for (var c = 0; c < (projectsApi_components.components).length; c++) { %>
                  <div class="grid_components">
                    <div class="content_desc grid_components_qty"><%- (projectsApi_components.components[c]).quantity %></div>
                    <div class="content_desc"><%- (projectsApi_components.components[c]).name %></div>
                    <div class="content_desc components_desc"><%- (projectsApi_components.components[c]).description %></div>
                  </div>
                <% } %>
              <% } %>

              <% if ((projectsApi_instructions.instructions).length > 0) { %>
                <div class="content_title margin_top_70">Instructions</div>
                <div class="category"></div> 
                <% for (var i = 0; i < (projectsApi_instructions.instructions).length; i++) { %>
                  <div class="content_desc"><%- (projectsApi_instructions.instructions[i]).body %></div>
                <% } %>
              <% } %>

              <% if ((projectsApi_logs.logs).length > 0) { %>
                <div class="content_title margin_top_70">Logs</div>
                <div class="category"></div> 
                <% for (var l = 0; l < (projectsApi_logs.logs).length; l++) { %>
                  <div class="content_desc"><%- (projectsApi_logs.logs[l]).title %></div>
                  <div class="content_desc"><%- (projectsApi_logs.logs[l]).body %></div>
                <% } %>
              <% } %>


            </div>

            <div class="grid_detail_content">
              <% if (projectsApi_detail.image_url != null) { %>
                  <div class="content_title" style="visibility: hidden">Image</div>
                  <div class="category" style="visibility: hidden"></div>

<!-- IMAGE SLIDER -->
                  <div>
                    <div class="container">

                      <% for (var i = 0; i < (projectsApi_images.images).length; i++) { %>
                        <div class="mySlides slide_item_image margin_bottom_10">
                          <img src="<%= (projectsApi_images.images[i]).url %>" class="slide_image_common" />
                        </div>
                      <% } %>                        
                        
                      <a class="prev" onclick="plusSlides(-1)">❮</a>
                      <a class="next" onclick="plusSlides(1)">❯</a>
                      
                      <!-- Thumbnail images -->
                      <div class="row">
                        <% for (var j = 0; j < (projectsApi_images.images).length; j++) { %>
                          <div class="column">
                            <img class="demo cursor slide_image_common" src="<%= (projectsApi_images.images[j]).url %>" onclick="currentSlide(<%= j+1 %>)" />
                          </div>
                        <% } %>  
                      </div>

                     
                    </div>
                  </div>

                  <div style="text-align: center;">
                    <a class="gallery_text" href="<%= hackaday %>/project/<%= projectsApi_detail.id %>/gallery" target="_blank">
                      <button class="gallery_button">More Images</button>
                    </a>
                  </div>
<!-- END IMAGE SLIDER -->

                    <!-- team -->
                    <div class="content_title margin_top_50">Team (<%= projectsApi_team.total %>)</div>
                    <div class="category"></div> 
                    <% for (var j = 0; j < (projectsApi_team.team).length; j++) { %>
                      <div class="text_center_left_align">
                          <a href="<%= (projectsApi_team.team[j]).user.url %>" target="_self"><img class="icon_circle" src="<%= (projectsApi_team.team[j]).user.image_url %>"/></a>
                          <a class="a_screen_name_main" href="<%= (projectsApi_team.team[j]).user.url %>" target="_self"><%= (projectsApi_team.team[j]).user.screen_name %></a>
                      </div>
                    <% } %>
                    <!-- End team -->

              <% } else { %>
                  <!-- <div><img class="image_attr"/></div> -->
                  <!-- <div class="image_attr default_image text_center">Photo Coming Soon</div> -->

                  <!-- team -->
                    <div class="content_title margin_top_media">Team (<%= projectsApi_team.total %>)</div>
                    <div class="category"></div> 
                    <% for (var j = 0; j < (projectsApi_team.team).length; j++) { %>
                      <div class="text_center_left_align">
                          <a href="<%= (projectsApi_team.team[j]).user.url %>" target="_self"><img class="icon_circle" src="<%= (projectsApi_team.team[j]).user.image_url %>"/></a>
                          <a class="a_screen_name_main" href="<%= (projectsApi_team.team[j]).user.url %>" target="_self"><%= (projectsApi_team.team[j]).user.screen_name %></a>
                      </div>
                    <% } %>
                  <!-- End team -->

              <% } %>
            </div>

        </div>


        <div class="grid_recommend">
            <div style="background-color: transparent;">
                <div class="content_title">Recommended Projects</div>
       
                <div>

                  <% var array = [] %>
                  <% var unique_array = [] %>
                  <!-- From Projects/ API -->
                  <% var owner_id_for_all = [] %>


                  <!-- All projects, 50 -->
                  <% for (let i = 0; i < (projectsApi.projects).length; i++) { %> 
                    <!-- All projects' tags -->
                    <% for (let j = 0; j < ((projectsApi.projects[i]).tags).length; j++) { %>
                      <!-- for k -->
                      <% for (let k = 0; k < (projectsApi_detail.tags).length; k++) { %>
                        <!-- if -->
                        <% if (projectsApi_detail.tags[k] == (projectsApi.projects[i]).tags[j]) { %>
                          <!-- Search different projects -->
                          <% if (projectsApi_detail.id != (projectsApi.projects[i]).id) { %>
                                <% array.push(i) %>
                          <% } %>
                        <% } %>
                        <!-- if end -->
                      <% } %>
                      <!-- for k end -->
                    <% } %>
                    <!-- for j end -->
                  <% } %>
                  <!-- for i end -->

                  <% unique_array = Array.from(new Set(array)) %>
                  <!-- <div style="color:blue"><%= unique_array %></div> -->


                <!-- Recommeded Projects Slider -->
                <div>
                  <div class="carousel">
                        
                        <div class="nav nav-left"><a data-direction="prev" class="slider_control slider_control--prev">❮</a></div>

                        <div class="carousel-content">

                          <% for (let a = 0; a < (projectsApi.projects).length; a++) { %>
                            <% for (let b = 0; b < unique_array.length; b++) { %>

                            <!-- ***** FINAL PRINTOUT PART ***** -->
                              <% if (a == unique_array[b]) { %>
                              <div class="slide">

                                  <% if ((projectsApi.projects[a]).image_url != null) { %>
                                    <div class="slide_item slide_item_image">
                                      <a href="/projects/detail/<%= (projectsApi.projects[a]).id %>" target="_self"><img class="image_attr" src="<%= (projectsApi.projects[a]).image_url %>" /></a>
                                    </div>
                                  <% } else { %>
                                    <div class="slide_item slide_item_image">
                                      <a class="default_image" href="/projects/detail/<%= (projectsApi.projects[a]).id %>" target="_self">
                                        <div class="image_attr default_image text_center">Photo Coming Soon</div>
                                      </a>
                                    </div>
                                  <% } %>

                                  <div class="slide_item slide_item_title">
                                    <a class="slide_item_title" href="/projects/detail/<%= (projectsApi.projects[a]).id %>" target="_self"><%= (projectsApi.projects[a]).name %></a>
                                  </div>

                              </div>

                                <% owner_id_for_all.push((projectsApi.projects[a]).owner_id) %>
                                <% owner_id_for_all = Array.from(new Set(owner_id_for_all)) %>
                              <% } %>

                            <% } %>
                          <% } %>

                        </div>

                        <div class="nav nav-right"><a data-direction="next" class="slider_control slider_control--next">❯</a></div>
                  </div>
                </div>
                      
                <!-- End Recommeded Projects Slider -->

                </div>
            </div>

            <div style="background-color: transparent;">
              <div class="content_title">Recommended Users</div>

              <div>
                <% var page = 3 %>
                <!-- From Users/ API -->
                <% var final_all_users = [] %>
                <% var recommended_users = [] %>

                <% var project_user_array = [] %>
                <% var project_user_array_sorted = [] %>
                <% var project_user_array_unique = [] %>

                <% if (usersApi_detail.tags != null) { %>
                  <% project_user_array = (projectsApi_detail.tags).concat(usersApi_detail.tags) %>
                  <% project_user_array_sorted = project_user_array.map(v => v.toLowerCase()) %>
                <% } else { %>
                  <% project_user_array_sorted = (projectsApi_detail.tags).map(v => v.toLowerCase()) %>
                <% } %>

                <!-- Optimizing selected project's and user's tags array -->
                <% project_user_array_unique = Array.from(new Set(project_user_array_sorted)) %>
                <!-- <div style="color:blue"><%= project_user_array_unique %></div> -->

            <!-- Connected with 'project_user_array_unique'(Selected project's tag + Selected project's User's tags) and users?page=1 -->
                <!-- All users -->
                <% for (let i = 0; i < (usersApi.users).length; i++) { %> 
                  <!-- Only Existed Tags -->
                  <% if ((usersApi.users[i]).tags != null) { %>
                    <!-- Each elements from array[i] -->
                    <% for (let j = 0; j < ((usersApi.users[i]).tags).length; j++) { %>
                      <!-- <%= i %>: <%= ((usersApi.users[i]).tags[j]).toLowerCase() %>&nbsp; -->

                      <% for (let k = 0; k < project_user_array_unique.length; k++) { %>

                        <% if (project_user_array_unique[k] == ((usersApi.users[i]).tags[j]).toLowerCase()) { %>
                         <!--  <div><%= (usersApi.users[i]).image_url %></div>
                          <div><%= (usersApi.users[i]).screen_name %></div> -->

                          <% final_all_users.push((usersApi.users[i]).id) %>
                        <% } %>

                      <% } %>

                    <% } %>
                  <% } %>
                <% } %>
                

            <!-- Connected with 'owner_id_for_all'(Selected project's tags == /projects&sortby=newest tags) and users?page=1 -->
                <% for (let h = 0; h < (usersApi.users).length; h++) { %>
                  <% for (let g = 0; g < owner_id_for_all.length; g++) { %>

                    <% if (owner_id_for_all[g] == (usersApi.users[h]).id) { %>
                      <!-- <div><%= (usersApi.users[h]).image_url %></div>
                      <div><%= (usersApi.users[h]).screen_name %></div> -->

                      <% final_all_users = final_all_users.concat((usersApi.users[h]).id) %>
                    <% } %>

                  <% } %>
                <% } %>

                <% final_all_users = Array.from(new Set(final_all_users)) %>


            <!-- Recommeded Users Slider -->
              <div>
                  <div class="carousel1">
                        
                        <div class="nav1 nav-left1"><a data-direction="prev" class="slider_control slider_control--prev">❮</a></div>

                        <div class="carousel-content1">
                          <!-- ***** FINAL PRINTOUT PART ***** -->
                            <% for (var q = 0; q < (usersApi.users).length; q++) { %> 
                              <% for (var u = 0; u < final_all_users.length; u++) { %>
                                <% if ((usersApi.users[q]).id == final_all_users[u]) { %>
                                  
                                  <div class="slide1">
                                      <div class="slide_item slide_item_image">
                                        <a href="<%= (usersApi.users[q]).url %>" target="_self"><img class="slide_item_image_attr_user" src="<%= (usersApi.users[q]).image_url %>" /></a>
                                      </div>
                                      <div class="slide_item slide_item_title">
                                        <a class="slide_item_title" href="<%= (usersApi.users[q]).url %>" target="_self"><%= (usersApi.users[q]).screen_name %></a>
                                      </div>
                                  </div>
                                <% } %>
                              <% } %>
                            <% } %>

                        </div>

                        <div class="nav1 nav-right1"><a data-direction="next" class="slider_control slider_control--next">❯</a></div>
                  </div>
              </div>

            <!-- End Recommeded Users Slider -->

            
              </div>

            </div>
        </div>
        <!-- end recommend grid -->

    </div>

    <div class="footer">
      <div>Service provided by <a href="https://supplyframe.com/" target="_blank">SupplyFrame</a>. API provided by <a href="<%= hackaday %>/" target="_blank">Hackaday.io</a>. Developed by <a href="mailto:joo7875@gmail.com">Hyewon Joo</a>.</div>
    </div>


    <script> <% include ../public/javascripts/main_detail-slider.js %> </script>
    <script> <% include ../public/javascripts/main_detail-desc.js %> </script>



</body>

</html>