<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <style>
        body {
            font: 15px arial, san-serif;
            margin: 0px;
            color: white;
            background-color: #06143d;
        }
        .footer {
          text-align: center;
          color: #e3e3e3;
          font-size: 10px;
          margin-bottom: 3em;
        }
        .content {
            margin-left: auto;
            margin-right: auto;
            max-width: 1200px;
            margin-bottom: 10em;
            margin-top: -5em;
        }
        .grid_small {
          color: black;
          text-align: center;
          min-width: 300px;
          max-width: 500px;
          width: 500px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          padding: 10px 0px;
        }
        .grid_main {
          display: grid;
          grid-template-columns: 2fr 1fr;
          grid-template-rows: auto;
          grid-gap: 1em;
          margin-bottom: 10em;
        }
        .grid_recommend {
          display: grid;
          text-align: center;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
        }
        .image_attr {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .header_title {
          font-weight: bold;
          font-size: 35px;
        }
        #icon_circle {
          width: 60px;
          height: 60px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;
          background: white;
          margin-bottom: 10px;
        }
        .header_summary {
          font-size: 20px;
        }
        a {
          text-decoration: none;
          color: #8fd2ff;
        }
        .float_right {
          margin-left: auto;
          margin-right: 0;
        }
        .content_title {
          font-weight: bold;
          font-size: 20px;
          padding-bottom: 15px;
        }
        .content_desc {
          font-size: 16px;
          line-height: 150%;
        }
        .line {
          background-color: orange;
        }
        .content_line {
            margin-left: auto;
            margin-right: auto;
            max-width: 1200px;
            margin-bottom: 10em;
            margin-top: 0em;
            position: relative;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
        .header {
/*          margin-left: auto;
          margin-right: auto;*/

          position: relative;
          text-align: center;
          color: white;
          height: 450px;
        }
        .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .header_image {
          opacity: 30%;
        }
        .grid_content {
          padding: 0px 10px;
        }
        @media only screen and (max-width: 1200px) {
          .grid_main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            grid-gap: 1em;
            margin-bottom: 3em;
          }
        }

        /* Recommended Projects */
        .carousel {
          position: relative;
          height: 600px; 
          margin: 0 auto;
        }

        .carousel-content {
          position: relative;
          overflow: hidden;
          transition: width .4s;
          height: 100%;
        }

        .slide {
          height: 100%; 
          position: absolute;
          z-index: 1;
          transition: left .4s cubic-bezier(.47,.13,.15,.89);
        }
        .slide_item {
          padding: 10px;
        }
        .slide_item_image {
          height: 400px;
        }
        .slide_item_image_attr {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
        .slide_item_title {
          color: orange;
          font-size: 20px;
        }
        .slide_item_title:hover {
          color: #eb2226;
        }

        /**/
        .slider_control {
          font-size: 2rem;
          background: none;
          color: white;
          border: none;
          position: absolute;
          top: 35%;
          transform: translateY(-50%);
          z-index: 20;
          opacity: 0%;
        }
        .slider_control--prev {
          left: -50px;
          opacity: 30%;
        }
        .slider_control--next {
          right: -50px;
          opacity: 30%;
        }
        .slider_control--prev:hover {
          background: white;
          color: black;
          opacity: 50%;
        }
        .slider_control--next:hover {
          background: white;
          color: black;
          opacity: 50%;
        }

        /**/
        .a_screen_name {
          color:white;
        }
        .a_screen_name:hover {
          color: #dbd9d9;
        }
              
    </style>

</head>

<body>

  <div class="header">
    <% if (projectsApi_detail.image_url != null) { %>
      <img src="<%= projectsApi_detail.image_url %>" class="image_attr header_image">
    <% } %>
      <div class="centered">
        <div class="header_title"><%= projectsApi_detail.name %></div>
        <br>
        <div class="header_summary"><%= projectsApi_detail.summary %></div><br>
        <br>
        <div class="href">
          <div><a href="<%= usersApi_detail.url %>" target="_self"><img id="icon_circle" src="<%= usersApi_detail.image_url %>"/></a></div>
          <div><a class="a_screen_name" href="<%= usersApi_detail.url %>" target="_self"><%= usersApi_detail.screen_name %></a></div>
        </div>
      </div>
  </div>

    <div class="line">
      <div class="content_line">
        <div class="float_right">
          <div class="grid_small">
            <div><span><b><%= projectsApi_detail.views %></b></span><br>views</div>
            <div><span><b><%= projectsApi_detail.comments %></b></span><br>comments</div>
            <div><span><b><%= projectsApi_detail.followers %></b></span><br>followers</div>
            <div><span><b><%= projectsApi_detail.skulls %></b></span><br>skulls</div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">

        <div class="grid_main">

            <div class="grid_content">
              <div class="content_title">Description</div>
              <div class="content_desc"><%- projectsApi_detail.description %></div>
              <!-- Description a 구별 함수 -->
            </div>

            <div class="grid_content">
              <div class="content_title" style="visibility: hidden">Image</div>
              <% if (projectsApi_detail.image_url != null) { %>
                <div><img class="image_attr" src="<%= projectsApi_detail.image_url %>" /></div>
              <% } else { %>
                <div><img class="image_attr" src="<%= projectsApi_detail.image_url %>" /></div>
              <% } %>
            </div>

        </div>


        <div class="grid_recommend">
            <div style="background-color: transparent;">
                <div class="content_title">Recommended Projects</div>

                <div>

                  <% var array = [] %>
                  <% var unique_array = [] %>
                  <!-- From Projects/ API -->
                  <% var owner_id_for_all = [] %>


                  <!-- All projects, 50 -->
                  <% for (let i = 0; i < (projectsApi.projects).length; i++) { %> 
                    <!-- All projects' tags -->
                    <% for (let j = 0; j < ((projectsApi.projects[i]).tags).length; j++) { %>
                      <!-- for k -->
                      <% for (let k = 0; k < (projectsApi_detail.tags).length; k++) { %>
                        <!-- if -->
                        <% if (projectsApi_detail.tags[k] == (projectsApi.projects[i]).tags[j]) { %>
                          <!-- Search different projects -->
                          <% if (projectsApi_detail.id != (projectsApi.projects[i]).id) { %>
                                <% array.push(i) %>
                          <% } %>
                        <% } %>
                        <!-- if end -->
                      <% } %>
                      <!-- for k end -->
                    <% } %>
                    <!-- for j end -->
                  <% } %>
                  <!-- for i end -->

                  <% unique_array = Array.from(new Set(array)) %>
                  <!-- <div style="color:blue"><%= unique_array %></div> -->


                <!-- Recommeded Projects Slider -->
                <div>
                  <div class="carousel">
                        
                        <div class="nav nav-left"><button type="button" data-direction="prev" class="slider_control slider_control--prev"><</button></div>

                        <div class="carousel-content">

                          <% for (let a = 0; a < (projectsApi.projects).length; a++) { %>
                            <% for (let b = 0; b < unique_array.length; b++) { %>

                            <!-- ***** FINAL PRINTOUT PART ***** -->
                              <% if (a == unique_array[b]) { %>
                              <div class="slide">
                                  <div class="slide_item slide_item_image">
                                    <a href="/projects/detail/<%= (projectsApi.projects[a]).id %>" target="_self"><img class="slide_item_image_attr" src="<%= (projectsApi.projects[a]).image_url %>" /></a>
                                  </div>
                                  <div class="slide_item slide_item_title">
                                    <a class="slide_item_title" href="/projects/detail/<%= (projectsApi.projects[a]).id %>" target="_self"><%= (projectsApi.projects[a]).name %></a>
                                  </div>
                              </div>

                                <% owner_id_for_all.push((projectsApi.projects[a]).owner_id) %>
                                <% owner_id_for_all = Array.from(new Set(owner_id_for_all)) %>
                              <% } %>

                            <% } %>
                          <% } %>

                        </div>

                        <div class="nav nav-right"><button type="button" data-direction="next" class="slider_control slider_control--next">></button></div>
                  </div>
                </div>
                      
                <!-- End Recommeded Projects Slider -->

                </div>
            </div>

            <div style="background-color: orange;">
              <div class="content_title">Recommended Users</div>

              <div>
                <% var page = 3 %>
                <!-- From Users/ API -->
                <% var final_all_users = [] %>
                <% var recommended_users = [] %>

                <% var project_user_array = [] %>
                <% var project_user_array_sorted = [] %>
                <% var project_user_array_unique = [] %>

                <% if (usersApi_detail.tags != null) { %>
                  <% project_user_array = (projectsApi_detail.tags).concat(usersApi_detail.tags) %>
                  <% project_user_array_sorted = project_user_array.map(v => v.toLowerCase()) %>
                <% } else { %>
                  <% project_user_array_sorted = (projectsApi_detail.tags).map(v => v.toLowerCase()) %>
                <% } %>

                <!-- Optimizing selected project's and user's tags array -->
                <% project_user_array_unique = Array.from(new Set(project_user_array_sorted)) %>
                <div style="color:blue"><%= project_user_array_unique %></div>

            <!-- Connected with 'project_user_array_unique'(Selected project's tag + Selected project's User's tags) and users?page=1 -->
                <!-- All users -->
                <% for (let i = 0; i < (usersApi.users).length; i++) { %> 
                  <!-- Only Existed Tags -->
                  <% if ((usersApi.users[i]).tags != null) { %>
                    <!-- Each elements from array[i] -->
                    <% for (let j = 0; j < ((usersApi.users[i]).tags).length; j++) { %>
                      <!-- <%= i %>: <%= ((usersApi.users[i]).tags[j]).toLowerCase() %>&nbsp; -->

                      <% for (let k = 0; k < project_user_array_unique.length; k++) { %>

                        <% if (project_user_array_unique[k] == ((usersApi.users[i]).tags[j]).toLowerCase()) { %>
                         <!--  <div><%= (usersApi.users[i]).image_url %></div>
                          <div><%= (usersApi.users[i]).screen_name %></div> -->

                          <% final_all_users.push((usersApi.users[i]).id) %>
                        <% } %>

                      <% } %>

                    <% } %>
                  <% } %>
                <% } %>
                

            <!-- Connected with 'owner_id_for_all'(Selected project's tags == /projects&sortby=newest tags) and users?page=1 -->
                <% for (let h = 0; h < (usersApi.users).length; h++) { %>
                  <% for (let g = 0; g < owner_id_for_all.length; g++) { %>

                    <% if (owner_id_for_all[g] == (usersApi.users[h]).id) { %>
                      <!-- <div><%= (usersApi.users[h]).image_url %></div>
                      <div><%= (usersApi.users[h]).screen_name %></div> -->

                      <% final_all_users = final_all_users.concat((usersApi.users[h]).id) %>
                    <% } %>

                  <% } %>
                <% } %>

                <% final_all_users = Array.from(new Set(final_all_users)) %>


            <!-- Recommeded Users Slider -->

                            <% for (var q = 0; q < (usersApi.users).length; q++) { %> 
                              <% for (var u = 0; u < final_all_users.length; u++) { %>
                                <% if ((usersApi.users[q]).id == final_all_users[u]) { %>
                                  <!-- ***** FINAL PRINTOUT PART ***** -->

                                      <div><%= (usersApi.users[q]).image_url %></div>
                                      <div><%= (usersApi.users[q]).screen_name %></div>
                                <% } %>
                              <% } %>
                            <% } %>

            <!-- End Recommeded Users Slider -->

            
              </div>

            </div>
        </div>
        <!-- end recommend grid -->

    </div>

    <div class="footer">
      <div>Service provided by <a href="https://supplyframe.com/" target="_blank">SupplyFrame</a>. API provided by <a href="https://hackaday.io/" target="_blank">Hackaday.io</a>. Developed by <a href="mailto:joo7875@gmail.com">Hyewon Joo</a>.</div>
    </div>

</body>

<script>
  // Slider #1
{
      var carousel = document.querySelector('.carousel');
      var carouselContent = document.querySelector('.carousel-content');
      var slides = document.querySelectorAll('.slide');
      var arrayOfSlides = Array.prototype.slice.call(slides);
      var carouselDisplaying;
      var screenSize;
      setScreenSize();
      var lengthOfSlide;

      function addClone() {
         var lastSlide = carouselContent.lastElementChild.cloneNode(true);
         lastSlide.style.left = (-lengthOfSlide) + "px";
         carouselContent.insertBefore(lastSlide, carouselContent.firstChild);
      }
      // addClone();

      function removeClone() {
        var firstSlide = carouselContent.firstElementChild;
        firstSlide.parentNode.removeChild(firstSlide);
      }

      function moveSlidesRight() {
        var slides = document.querySelectorAll('.slide');
        var slidesArray = Array.prototype.slice.call(slides);
        var width = 0;

        slidesArray.forEach(function(el, i){
          el.style.left = width + "px";
          width += lengthOfSlide;
        });
        addClone();
      }

      moveSlidesRight();

      function moveSlidesLeft() {
        var slides = document.querySelectorAll('.slide');
        var slidesArray = Array.prototype.slice.call(slides);
        slidesArray = slidesArray.reverse();
        var maxWidth = (slidesArray.length - 1) * lengthOfSlide;

        slidesArray.forEach(function(el, i){
          maxWidth -= lengthOfSlide;
          el.style.left = maxWidth + "px";
        });
      }

      // window.addEventListener('resize', setScreenSize);

      function setScreenSize() {
        if ( window.innerWidth >= 300 ) {
          carouselDisplaying = 3;
        } else if ( window.innerWidth >= 100 ) {
          carouselDisplaying = 2;
        } else {
          carouselDisplaying = 1;
        }
        getScreenSize();
      }

      function getScreenSize() {
        var slides = document.querySelectorAll('.slide');
        var slidesArray = Array.prototype.slice.call(slides);
        lengthOfSlide = ( carousel.offsetWidth  / carouselDisplaying );
        var initialWidth = -lengthOfSlide;
        slidesArray.forEach(function(el) {
          el.style.width = lengthOfSlide + "px";
          el.style.left = initialWidth + "px";
          initialWidth += lengthOfSlide;
        });
      }

      var rightNav = document.querySelector('.nav-right');
      rightNav.addEventListener('click', moveLeft);

      var moving = true;

      function moveRight() {
        if ( moving ) {
          moving = false;
          var lastSlide = carouselContent.lastElementChild;
          lastSlide.parentNode.removeChild(lastSlide);
          carouselContent.insertBefore(lastSlide, carouselContent.firstChild);
          removeClone();
          var firstSlide = carouselContent.firstElementChild;
          firstSlide.addEventListener('transitionend', activateAgain);
          moveSlidesRight();
        }
      }

      function activateAgain() {
        var firstSlide = carouselContent.firstElementChild;
        moving = true;
        firstSlide.removeEventListener('transitionend', activateAgain);
      }

      var leftNav = document.querySelector('.nav-left');
      leftNav.addEventListener('click', moveRight);

      // var moveLeftAgain = true;

      function moveLeft() {
        if ( moving ) {
          moving = false;
          removeClone();
          var firstSlide = carouselContent.firstElementChild;
          firstSlide.addEventListener('transitionend', replaceToEnd);
          moveSlidesLeft();
        }
      }

      function replaceToEnd() {
        var firstSlide = carouselContent.firstElementChild;
        firstSlide.parentNode.removeChild(firstSlide);
        carouselContent.appendChild(firstSlide);
        firstSlide.style.left = ( (arrayOfSlides.length -1) * lengthOfSlide) + "px";
        addClone();
        moving = true;
        firstSlide.removeEventListener('transitionend', replaceToEnd);
      }
}

</script>

</html>