<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <style>
        body {
            font: 15px arial, san-serif;
        }
        .content {
            margin-left: 1em;
            margin-right: 1em;
            margin-top: 10em;
            margin-bottom: 1em;
        }
        .grid-container {
            width: 100%; 
            display: grid;
            grid-template-rows: 1fr 1/3fr; 
            grid-template-columns: auto;
        }
        .grid-image-container {
            max-width: 1200px;
            margin: auto;
            width: 100%; 
            display: grid;
            grid-auto-rows: 390px; 
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
            grid-column-gap: 1em;
            grid-row-gap: 3em;
        }
        .item {
            border-radius: 0px;
            padding: 0px;
            color: black;
            background-color: gray;
            /*position: relative;
            overflow: hidden;*/
        }
        .image_attr {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    </style>

</head>

<body>

    <div class="content">
        <div class="grid-image-container">
            <% for (var i = 0; i < (apiData.projects).length; i++) { %>
                <% if (((apiData.projects[i]).image_url) != null) { %>
                <div class="item">
                    <img class="image_attr" src="<%= (apiData.projects[i]).image_url %>" />
                    <div><%= (apiData.projects[i]).name %></div>
                    <div><%= (apiData.projects[i]).owner_id %></div>
                </div>
                <% } else { %>
                <div class="item">
                    <img class="image_attr" />
                    <div><%= (apiData.projects[i]).name %></div>
                    <div><%= (apiData.projects[i]).owner_id %></div>
                </div>
                <% } %>
            <% } %>
        </div>
    </div>


</body>
</html>