<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style> <% include ../public/stylesheets/style.css %> </style>

</head>

<body>

    <div class="header_main">
      <div class="header_title">HACKADAY.IO</div>
    </div>

    <div class="content_main">

        <!-- grid -->
        <div class="grid-image-container">
            <% for (var i = 0; i < (mainApi[0].projects).length; i++) { %>

                <% if ((mainApi[0].projects[i]).image_url != null) { %>
                <div>
                    <div class="tooltip margin_bottom">
                        <div class="text_center">
                          <a href="<%= mainApi[i+1].url %>" target="_self"><img class="icon_circle" src="<%= mainApi[i+1].image_url %>"/></a>
                          <a class="a_screen_name_main" href="<%= mainApi[i+1].url %>" target="_self"><%= mainApi[i+1].screen_name %></a>
                        </div>

                        <div class="tooltip_grid tooltip_content">
                            <div class="tooltip_content_1"><a href="<%= mainApi[i+1].url %>" target="_self"><img class="tooltip_circle" src="<%= mainApi[i+1].image_url %>"/></a></div>
                            <div class="tooltip_content_2 text_center"><b><%= mainApi[i+1].projects %></b>&nbsp;projects&nbsp;&nbsp;|&nbsp;&nbsp;<b><%= mainApi[i+1].followers %></b>&nbsp;followers</div>
                            <div class="tooltip_content_3"><b><%= mainApi[i+1].screen_name %></b></div>
                            <div class="tooltip_content_4"><%- mainApi[i+1].about_me %></div>
                        </div>
                    </div>

                    <!-- Image Hover Add -->
                    <a href="/projects/detail/<%= (mainApi[0].projects[i]).id %>" target="_self">
                      <img class="image_attr" src="<%= (mainApi[0].projects[i]).image_url %>" />
                    </a>

                    <a href="/projects/detail/<%= (mainApi[0].projects[i]).id %>" target="_self">
                      <div class="title"><%= (mainApi[0].projects[i]).name %></div>
                    </a>
                </div>
                <% } else { %>
                <div>
                    <div class="tooltip margin_bottom">
                        <div class="text_center">
                          <a href="<%= mainApi[i+1].url %>" target="_self"><img class="icon_circle" src="<%= mainApi[i+1].image_url %>"/></a>
                          <a class="a_screen_name_main" href="<%= mainApi[i+1].url %>" target="_self"><%= mainApi[i+1].screen_name %></a>
                        </div>

                        <div class="tooltip_grid tooltip_content">
                            <div class="tooltip_content_1"><a href="<%= mainApi[i+1].url %>" target="_self"><img class="tooltip_circle" src="<%= mainApi[i+1].image_url %>"/></a></div>
                            <div class="tooltip_content_2 text_center"><b><%= mainApi[i+1].projects %></b>&nbsp;projects&nbsp;&nbsp;|&nbsp;&nbsp;<b><%= mainApi[i+1].followers %></b>&nbsp;followers</div>
                            <div class="tooltip_content_3"><b><%= mainApi[i+1].screen_name %></b></div>
                            <div class="tooltip_content_4"><%- mainApi[i+1].about_me %></div>
                        </div>
                    </div>

                    <!-- Image Hover Add -->
                    <a class="default_image" href="/projects/detail/<%= (mainApi[0].projects[i]).id %>" target="_self">
                      <div class="image_attr default_image text_center">Photo Coming Soon</div>
                    </a>

                    <a href="/projects/detail/<%= (mainApi[0].projects[i]).id %>" target="_self">
                      <div class="title"><%= (mainApi[0].projects[i]).name %></div>
                    </a>
                </div>
                <% } %>
                <!-- else end -->

            <% } %>
        </div>

        <!-- pagination -->
        <div class="pagination">
          <% for (var i = 1; i <= mainApi[0].last_page; i++) { %>
            <% if (i == mainApi[0].page) { %>
              <% if (i == 1) { %>
              <div class="grid_pagination">
                <div></div>
                <div></div>
                <div><a href="/projects/page/<%= i+1 %>" target="_self"><div class="page_button">NEXT&nbsp;&nbsp;></div></a></div>
                <div><a href="/projects/page/<%= mainApi[0].last_page %>" target="_self"><div class="page_button">LAST&nbsp;&nbsp;>></div></a></div>
              </div>
              <% } else if(i == mainApi[0].last_page) { %>
              <div class="grid_pagination">
                <div><a href="/projects/page/<%= 1 %>" target="_self"><div class="page_button"><<&nbsp;&nbsp;FIRST</div></a></div>
                <div><a href="/projects/page/<%= i-1 %>" target="_self"><div class="page_button"><&nbsp;&nbsp;PREVIOUS</div></a></div>
                <div></div>
                <div></div>
              </div>
              <% } else { %>
                <div class="grid_pagination">
                  <div><a href="/projects/page/<%= 1 %>" target="_self"><div class="page_button"><<&nbsp;&nbsp;FIRST</div></a></div>
                  <div><a href="/projects/page/<%= i-1 %>" target="_self"><div class="page_button"><&nbsp;&nbsp;PREVIOUS</div></a></div>
                  <div><a href="/projects/page/<%= i+1 %>" target="_self"><div class="page_button">NEXT&nbsp;&nbsp;></div></a></div>
                  <div><a href="/projects/page/<%= mainApi[0].last_page %>" target="_self"><div class="page_button">LAST&nbsp;&nbsp;>></div></a></div>
                </div>
              <% } %>
              
            <% } %>
          <% } %>
          
          <% var page_id = i %>
        </div>
    </div>

    <div class="footer">
      <div>Service provided by <a href="https://supplyframe.com/" target="_blank">SupplyFrame</a>. API provided by <a href="https://hackaday.io/" target="_blank">Hackaday.io</a>. Developed by <a href="mailto:joo7875@gmail.com">Hyewon Joo</a>.</div>
    </div>


</body>

</html>