<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <style>
        body {
            font: 15px arial, san-serif;
        }
        .content {
            margin-left: 1em;
            margin-right: 1em;
            margin-top: 20em;
            margin-bottom: 1em;
        }
        .grid-container {
            width: 100%; 
            display: grid;
            grid-template-rows: 1fr 1/3fr; 
            grid-template-columns: auto;
        }
        .grid-image-container {
            max-width: 1200px;
            margin: auto;
            width: 100%; 
            display: grid;
            grid-auto-rows: 390px; 
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
            grid-column-gap: 1em;
            grid-row-gap: 4em;
        }
        .item {
            border-radius: 0px;
            padding: 0px;
            color: black;
            /*position: relative;
            overflow: hidden;*/
        }
        .image_attr {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .image_default {
            background-color: lightgray;
        }
        .tooltip {
          position: relative;
          display: inline-block;
        }

        .tooltip .tooltip_content {
          visibility: hidden;
          width: 300px;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          z-index: 1;
          /*tooltip 상자 위 위치 작을수록 위로*/
          top: -110px;
          /*작을 수록 왼쪽으로*/
          left: 120%;
        }

        .tooltip .tooltip_content::after {
          content: "";
          position: absolute;
          /*arrow 위 위치, 작을수록 위로*/
          top: 90%;
          right: 100%;
          margin-top: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: transparent black transparent transparent;
        }
        .tooltip:hover .tooltip_content {
          visibility: visible;
        }
        #circle {
          width: 60px;
          height: 60px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;
          background: white;
        }
        .tooltip_content_2 {
            grid-column: 2 / span 3;
            grid-row: 1;
            padding-bottom: 10px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .tooltip_content_3 {
            grid-column: 1 / span 3;
            grid-row: 2;
            text-align: left;
        }
        .grid {
            display: grid;
            grid-row-gap: 10px;
        }
    </style>

</head>

<body>

    <div class="content">

        <!-- grid -->
        <div class="grid-image-container">
            <% for (var i = 0; i < (projectsApi.projects).length; i++) { %>
                <% if ((projectsApi.projects[i]).image_url != null) { %>
                <div class="item">
                    <div class="tooltip">
                        <%= (projectsApi.projects[i]).owner_id %>
                        <div class="grid tooltip_content">
                            <div class="tooltip_content_1" id="circle"></div>
                            <div class="tooltip_content_2">projects&nbsp;|&nbsp;followers</div>
                            <div class="tooltip_content_3">screen_name <br> about_me</div>
                        </div>
                    </div>
                    <a href="/projects/detail/<%= projectsApi.projects[i].id %>" target="_blank">
                      <img class="image_attr" src="<%= (projectsApi.projects[i]).image_url %>" />
                    </a>
                    <div><%= (projectsApi.projects[i]).name %></div>
                  
                </div>
                <% } else { %>
                <div class="item">
                    <div class="tooltip">
                        <%= (projectsApi.projects[i]).owner_id %>
                        <div class="grid tooltip_content">
                            <div class="tooltip_content_1" id="circle"></div>
                            <div class="tooltip_content_2">projects&nbsp;|&nbsp;followers</div>
                            <div class="tooltip_content_3">screen_name <br> about_me</div>
                        </div>
                    </div>
                    <img class="image_attr image_default" />
                    <div><%= (projectsApi.projects[i]).name %></div>
                    

                </div>
                <% } %>
            <% } %>
        </div>

        <!-- pagination -->
        <div>
            <% for (var i = 1; i <= projectsApi.last_page; i++) { %>
                <a href="/projects/page/<%= i %>" target="_self"><span><%= i %>&nbsp;</span></a>
            <% } %>

            <% var page_id = i %>
        </div>

    </div>


</body>
</html>