<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

    <style>
        body {
            font: 15px arial, san-serif;
            margin: 0px;
            color: white;
            background-color: #06143d;
        }
        .footer {
          text-align: center;
          color: #e3e3e3;
          font-size: 10px;
          margin-bottom: 3em;
        }
        .content {
            margin-left: auto;
            margin-right: auto;
            max-width: 1200px;
            margin-bottom: 10em;
            margin-top: -5em;
        }
        .grid_small {
          color: black;
          text-align: center;
          min-width: 300px;
          max-width: 500px;
          width: 500px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          grid-template-rows: 1fr;
          padding: 10px 0px;
        }
        .grid_main {
          display: grid;
          grid-template-columns: 2fr 1fr;
          grid-template-rows: 1fr;
          grid-gap: 1em;
          margin-bottom: 3em;
        }
        .grid_recommend {
          display: grid;
          text-align: center;
          grid-template-columns: auto;
          grid-template-rows: 1fr 1fr;
        }
        .image_attr {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .header_title {
          font-weight: bold;
          font-size: 35px;
        }
        #icon_circle {
          width: 60px;
          height: 60px;
          -webkit-border-radius: 30px;
          -moz-border-radius: 30px;
          border-radius: 30px;
          background: white;
          margin-bottom: 10px;
        }
        .header_summary {
          font-size: 20px;
        }
        a {
          text-decoration: none;
          color: #8fd2ff;
        }
        .float_right {
          margin-left: auto;
          margin-right: 0;
        }
        .content_title {
          font-weight: bold;
          font-size: 20px;
          padding-bottom: 15px;
        }
        .content_desc {
          font-size: 16px;
          line-height: 150%;
        }
        .line {
          background-color: orange;
        }
        .content_line {
            margin-left: auto;
            margin-right: auto;
            max-width: 1200px;
            margin-bottom: 10em;
            margin-top: 0em;
            position: relative;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
        .header {
          text-align: center;
          margin-left: auto;
          margin-right: auto;

          position: relative;
          text-align: center;
          color: white;
          height: 400px;
        }
        .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding-top: 5em;
        }
        .header_image {
          opacity: 30%;
        }
        .grid_content {
          padding: 0px 10px;
        }
    </style>

</head>

<body>

  <div class="header">
    <% if (projectsApi_detail.image_url != null) { %>
      <img src="<%= projectsApi_detail.image_url %>" class="image_attr header_image">
    <% } %>
      <div class="centered">
        <div class="header_title"><%= projectsApi_detail.name %></div>
        <br>
        <div class="header_summary"><%= projectsApi_detail.summary %></div><br>
        <br>
        <div><img id="icon_circle" src="<%= usersApi.image_url %>"/></div>
        <div><%= usersApi.screen_name %></div>
      </div>
  </div>

    <div class="line">
      <div class="content_line">
        <div class="float_right">
          <div class="grid_small">
            <div><span><b><%= projectsApi_detail.views %></b></span><br>views</div>
            <div><span><b><%= projectsApi_detail.comments %></b></span><br>comments</div>
            <div><span><b><%= projectsApi_detail.followers %></b></span><br>followers</div>
            <div><span><b><%= projectsApi_detail.skulls %></b></span><br>skulls</div>
          </div>
        </div>
      </div>
    </div>

    <div class="content">

        <div class="grid_main">

            <div class="grid_content">
              <div class="content_title">Description</div>
              <div class="content_desc"><%- projectsApi_detail.description %></div>
              <!-- Description a 구별 함수 -->
            </div>

            <div class="grid_content">
              <div class="content_title" style="visibility: hidden">Image</div>
              <% if (projectsApi_detail.image_url != null) { %>
                <div><img class="image_attr" src="<%= projectsApi_detail.image_url %>" /></div>
              <% } else { %>
                <div><img class="image_attr" src="<%= projectsApi_detail.image_url %>" /></div>
              <% } %>
            </div>

        </div>

        <div class="grid_recommend">
            <div style="background-color: red;">
                <div class="content_title">Recommended Projects</div>

                <div>

                  <% var array = [] %>
                  <!-- for i, 50 -->
                  <% for (let i = 0; i < (projectsApi.projects).length; i++) { %> 
                    <!-- for j -->
                    <% for (let j = 0; j < ((projectsApi.projects[i]).tags).length; j++) { %>
                      <!-- for k -->
                      <% for (let k = 0; k < (projectsApi_detail.tags).length; k++) { %>
                        <!-- if -->
                        <% if (projectsApi_detail.tags[k] == (projectsApi.projects[i]).tags[j]) { %>
                          <!-- Search different projects -->
                          <% if (projectsApi_detail.id != (projectsApi.projects[i]).id) { %>

                                <% array.push(i) %>

                          <% } %>
                        <% } %>
                        <!-- if end -->
                      <% } %>
                      <!-- for k end -->
                    <% } %>
                    <!-- for j end -->
                  <% } %>
                  <!-- for i end -->

                  <% var unique_array = Array.from(new Set(array)) %>
                  <div style="color:blue"><%= unique_array %></div>

              
                  <% for (let a = 0; a < (projectsApi.projects).length; a++) { %>
                    <% for (let b = 0; b < unique_array.length; b++) { %>
                      <% if (a == unique_array[b]) { %>
                      <div><%= (projectsApi.projects[a]).name %></div>
                      <% } %>
                    <% } %>
                  <% } %>

                </div>
            </div>

            <div style="background-color: orange;">
              <div class="content_title">Recommended Users</div>
              <div></div>
            </div>
        </div>

    </div>

    <div class="footer">
      <div>Service provided by <a href="https://supplyframe.com/" target="_blank">SupplyFrame</a>. API provided by <a href="https://hackaday.io/" target="_blank">Hackaday.io</a>. Developed by <a href="mailto:joo7875@gmail.com">Hyewon Joo</a>.</div>
    </div>


</body>

<script type="text/javascript">
  function onlyUnique(value, index, self) { 
    return self.indexOf(value) === index;
  }
</script>

</html>